[submodule "firmware/common/atxmega_modules"]
	path = firmware/common/atxmega_modules
	url = git@github.com:amykyta3/atxmega_modules.git
	branch = master
[submodule "software/py_modules/python_modules"]
	path = software/py_modules/python_modules
	url = git@github.com:amykyta3/python_modules.git
	branch = master
